main.fillable {
    padding: 0 !important;
    margin: 0 !important;
}
main.fillable>.wrap>footer {
    display: none;
}
.ms-gr-auto-loading-default-antd {
    z-index: 1001 !important;
}
/* 滚动条样式 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent; 
}
::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 2px; 
}

.model-setting-card {
    min-height: 400px;
}
.model-setting-list .ms-gr-ant-list-items {
    max-height: 300px;
    overflow: auto;
}